body {
    font-family: 'Varela Round';
}

table {
    border-collapse: collapse;
}

td {
    text-align: center;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    color: black;
    cursor: default;
}

td.board {
    background-color: green;
    border: 1px solid black;
}
