body {
    font-family: 'Varela Round';
}

table {
    border-collapse: collapse;
    float: left;
}

td {
    text-align: center;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    color: black;
    cursor: default;
}

td.board {
    background-color: green;
    border: 1px solid black;
}

td.board.possible {
    background-color: lightgreen;
}

td.board.possible.best {
    border: 5px solid black;
}

td.board.captive {
    background-color: lightyellow;
}

textarea {
    float: left;
    margin: 15px;
}
